<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
</head>

<body>
    <p> title : <%= article.title %>
    </p>
    <p>description :<%= article.title %>
    </p>
    <p>content : <%= article.content %>
    </p>
    <p>author : <%= article.author %>
    </p>
    <p>cteat at :<%= article.createdAt %>
    </p>

    <form action="/article/delete/<%= article._id %>" method="get">
        <input type="submit" value="delete-article" class="btn btn-danger">
    </form>
</body>

</html>